
<!DOCTYPE HTML>
<head>
<title>Free Home Shoppe Website Template | Home :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/slider.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script> 
<script type="text/javascript" src="js/startstop-slider.js"></script>
</head>
<body>
<!-- Begin Wrap -->
<div class="wrap">
	<!-- Begin Header -->
	@Html.Partial("ToMinhTien_Header");
    <!-- End Header -->
    <!-- Begin Main -->
    <div class="main">
        <div class="content">
        	<!-- Begin New Product -->
	    	@RenderBody()
			<!-- End Feature Products -->
    	</div>
	</div>
    <!-- End Main -->
</div>
<!-- End Wrap -->
<!-- Begin Footer -->
   	  @Html.Partial("ToMinhTien_Footer");
<!-- End Footer -->
</body>
</html>

